[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
baseSepolia = "https://sepolia.base.org"

[fmt]
line_length = 120
tab_width = 4
